<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-40</integer>
		<key>@MMK_R_G</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-60</integer>
		<key>@MMK_R_W</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_w</key>
		<integer>-40</integer>
		<key>@MMK_R_y</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-80</integer>
		<key>v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_G</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_D</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-5</integer>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-36</integer>
		<key>Q</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-13</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_C</key>
		<real>-33.226398468017578</real>
		<key>@MMK_R_G</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<real>-72.07550048828125</real>
		<key>@MMK_R_c</key>
		<real>-69.150901794433594</real>
		<key>@MMK_R_d</key>
		<real>-64.150901794433594</real>
		<key>@MMK_R_e</key>
		<integer>-70</integer>
		<key>@MMK_R_g</key>
		<real>-72.07550048828125</real>
		<key>@MMK_R_o</key>
		<real>-77.07550048828125</real>
		<key>@MMK_R_s</key>
		<real>-48.301898956298828</real>
		<key>Q</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_G</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_c</key>
		<integer>-45</integer>
		<key>@MMK_R_d</key>
		<integer>-45</integer>
		<key>@MMK_R_e</key>
		<integer>-45</integer>
		<key>@MMK_R_g</key>
		<integer>-45</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>Q</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>q</key>
		<integer>-45</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_G</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_c</key>
		<real>-60.8302001953125</real>
		<key>@MMK_R_d</key>
		<integer>-60</integer>
		<key>@MMK_R_e</key>
		<integer>-60</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-80</integer>
		<key>q</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_Y</key>
		<real>-35.90570068359375</real>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_W</key>
		<integer>-45</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>X</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-45</integer>
		<key>X</key>
		<integer>-50</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>comma</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>comma</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>J</key>
		<real>-30.8302001953125</real>
		<key>comma</key>
		<integer>-40</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-30</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>j</key>
		<real>-22.07550048828125</real>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>hyphen</key>
		<integer>-35</integer>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>J</key>
		<real>-40.8302001953125</real>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>X</key>
		<real>-13.320799827575684</real>
		<key>backslash</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-15</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>j</key>
		<real>-22.07550048828125</real>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>AE</key>
		<integer>-45</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>J</key>
		<real>-71.226402282714844</real>
		<key>O</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>a</key>
		<real>-39.1697998046875</real>
		<key>c</key>
		<real>-27.452800750732422</real>
		<key>d</key>
		<real>-27.452800750732422</real>
		<key>g</key>
		<real>-21.226400375366211</real>
		<key>j</key>
		<real>-29.150899887084961</real>
		<key>o</key>
		<real>-17.434000015258789</real>
		<key>period</key>
		<integer>-80</integer>
		<key>slash</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>j</key>
		<real>-22.07550048828125</real>
	</dict>
	<key>I</key>
	<dict>
		<key>j</key>
		<integer>-36</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_G</key>
		<integer>-40</integer>
		<key>C</key>
		<integer>-40</integer>
		<key>O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>T</key>
		<real>-17.07550048828125</real>
		<key>V</key>
		<integer>-28</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-18</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>v</key>
		<real>-30.792499542236328</real>
		<key>w</key>
		<real>-18.301900863647461</real>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>-15</integer>
		<key>T</key>
		<real>-68.301902770996094</real>
		<key>V</key>
		<real>-49.150901794433594</real>
		<key>W</key>
		<real>-36.24530029296875</real>
		<key>backslash</key>
		<integer>-45</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>quotedbl</key>
		<integer>-50</integer>
		<key>quotedblright</key>
		<integer>-45</integer>
		<key>v</key>
		<real>-40.377399444580078</real>
		<key>w</key>
		<real>-31.226400375366211</real>
	</dict>
	<key>M</key>
	<dict>
		<key>g</key>
		<real>-14.981100082397461</real>
		<key>j</key>
		<real>-30.8302001953125</real>
	</dict>
	<key>N</key>
	<dict>
		<key>Y</key>
		<integer>-10</integer>
		<key>j</key>
		<real>-25.8302001953125</real>
	</dict>
	<key>O</key>
	<dict>
		<key>AE</key>
		<integer>-20</integer>
		<key>J</key>
		<real>-20.8302001953125</real>
		<key>backslash</key>
		<integer>-15</integer>
		<key>j</key>
		<real>-26.24530029296875</real>
		<key>period</key>
		<integer>-15</integer>
		<key>quotedbl</key>
		<integer>-5</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>AE</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-75</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-16</integer>
		<key>g</key>
		<real>-16.226400375366211</real>
		<key>j</key>
		<real>-30.90570068359375</real>
		<key>period</key>
		<integer>-80</integer>
		<key>slash</key>
		<integer>-35</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-30</integer>
		<key>@MMK_R_W</key>
		<integer>-20</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>C</key>
		<real>-20.32080078125</real>
		<key>T</key>
		<real>-36.226398468017578</real>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-22</integer>
		<key>backslash</key>
		<integer>-25</integer>
		<key>c</key>
		<real>-17.056600570678711</real>
		<key>d</key>
		<real>-18.735799789428711</real>
		<key>j</key>
		<real>-28.73590087890625</real>
		<key>o</key>
		<integer>-20</integer>
		<key>quotedbl</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>v</key>
		<real>-21.226400375366211</real>
		<key>w</key>
		<real>-14.150899887084961</real>
	</dict>
	<key>S</key>
	<dict>
		<key>V</key>
		<real>-12.924500465393066</real>
		<key>j</key>
		<integer>-25</integer>
		<key>period</key>
		<integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>AE</key>
		<integer>-40</integer>
		<key>J</key>
		<integer>-70</integer>
		<key>S</key>
		<real>-23.32080078125</real>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<real>-44.150901794433594</real>
		<key>m</key>
		<real>-49.150901794433594</real>
		<key>n</key>
		<real>-49.150901794433594</real>
		<key>p</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>r</key>
		<real>-64.528297424316406</real>
		<key>slash</key>
		<integer>-30</integer>
		<key>t</key>
		<real>-31.226400375366211</real>
		<key>u</key>
		<real>-70.377403259277344</real>
		<key>v</key>
		<real>-54.150901794433594</real>
		<key>w</key>
		<real>-52.07550048828125</real>
		<key>x</key>
		<real>-52.07550048828125</real>
		<key>y</key>
		<real>-40.377399444580078</real>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>j</key>
		<real>-24.150899887084961</real>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<real>-47.07550048828125</real>
		<key>@MMK_R_c</key>
		<integer>-45</integer>
		<key>@MMK_R_d</key>
		<integer>-45</integer>
		<key>@MMK_R_e</key>
		<integer>-45</integer>
		<key>@MMK_R_g</key>
		<integer>-45</integer>
		<key>@MMK_R_o</key>
		<integer>-45</integer>
		<key>AE</key>
		<integer>-50</integer>
		<key>C</key>
		<integer>-25</integer>
		<key>J</key>
		<real>-51.660400390625</real>
		<key>Q</key>
		<integer>-40</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-45</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>q</key>
		<integer>-50</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-45</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-40</integer>
		<key>hyphen</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-55</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<real>-23.301900863647461</real>
		<key>w</key>
		<real>-18.301900863647461</real>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<real>-14.150899887084961</real>
		<key>z</key>
		<real>-12.075499534606934</real>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_G</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-30</integer>
		<key>@MMK_R_d</key>
		<real>-28.301900863647461</real>
		<key>@MMK_R_e</key>
		<integer>-50</integer>
		<key>@MMK_R_g</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_y</key>
		<integer>-50</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>J</key>
		<real>-17.92449951171875</real>
		<key>Q</key>
		<integer>-30</integer>
		<key>c</key>
		<real>-37.07550048828125</real>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>j</key>
		<real>-47.07550048828125</real>
		<key>q</key>
		<integer>-50</integer>
		<key>s</key>
		<real>-24.150899887084961</real>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>AE</key>
		<integer>-60</integer>
		<key>C</key>
		<integer>-28</integer>
		<key>J</key>
		<integer>-82</integer>
		<key>N</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-52</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-28</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>p</key>
		<integer>-30</integer>
		<key>r</key>
		<real>-22.07550048828125</real>
		<key>s</key>
		<real>-42.07550048828125</real>
		<key>slash</key>
		<integer>-45</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>v</key>
		<real>-22.07550048828125</real>
		<key>w</key>
		<real>-17.07550048828125</real>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<real>-32.07550048828125</real>
		<key>z</key>
		<real>-22.07550048828125</real>
	</dict>
	<key>Z</key>
	<dict>
		<key>C</key>
		<real>-4.15093994140625</real>
		<key>O</key>
		<real>-4.15093994140625</real>
		<key>c</key>
		<real>-17.07550048828125</real>
		<key>d</key>
		<real>-17.07550048828125</real>
		<key>g</key>
		<real>-6.2264199256896973</real>
		<key>j</key>
		<integer>-30</integer>
		<key>o</key>
		<real>-8.3018903732299805</real>
		<key>y</key>
		<real>-6.2264199256896973</real>
	</dict>
	<key>a</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>quotedbl</key>
		<integer>-10</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>w</key>
		<real>-5.84906005859375</real>
		<key>y</key>
		<real>-9.358489990234375</real>
	</dict>
	<key>b</key>
	<dict>
		<key>AE</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<real>-62.07550048828125</real>
		<key>V</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>Z</key>
		<integer>-22</integer>
		<key>backslash</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-25</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<real>-18.339599609375</real>
	</dict>
	<key>backslash</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-15</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>T</key>
		<real>-36.226398468017578</real>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<real>-24.150899887084961</real>
		<key>backslash</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-25</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>j</key>
		<integer>-40</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>T</key>
		<real>-49.150901794433594</real>
		<key>V</key>
		<integer>-35</integer>
		<key>backslash</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-15</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>v</key>
		<real>-9.1698102951049805</real>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>AE</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-30</integer>
		<key>c</key>
		<integer>-48</integer>
		<key>d</key>
		<real>-37.660400390625</real>
		<key>g</key>
		<integer>-34</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<real>-42.07550048828125</real>
		<key>o</key>
		<real>-31.660400390625</real>
		<key>p</key>
		<real>-10.8302001953125</real>
		<key>period</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>slash</key>
		<integer>-20</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>one</key>
		<integer>-15</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>T</key>
		<real>-47.07550048828125</real>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-28</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>T</key>
		<real>-44.150901794433594</real>
		<key>V</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-28</integer>
		<key>backslash</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>y</key>
		<real>-2.490570068359375</real>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>j</key>
		<real>-47.90570068359375</real>
	</dict>
	<key>k</key>
	<dict>
		<key>T</key>
		<real>-49.150901794433594</real>
		<key>Y</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<real>-20.8302001953125</real>
		<key>g</key>
		<real>-19.1697998046875</real>
		<key>j</key>
		<integer>-35</integer>
		<key>o</key>
		<real>-18.75469970703125</real>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<real>-18.339599609375</real>
	</dict>
	<key>l</key>
	<dict>
		<key>Y</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>seven</key>
		<integer>-10</integer>
		<key>two</key>
		<integer>-10</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>J</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<real>-77.07550048828125</real>
		<key>W</key>
		<integer>-55</integer>
		<key>backslash</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-15</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>slash</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-18</integer>
		<key>w</key>
		<integer>-16</integer>
		<key>x</key>
		<integer>-12</integer>
		<key>y</key>
		<real>-19.1697998046875</real>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>T</key>
		<real>-52.07550048828125</real>
		<key>V</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<real>-32.07550048828125</real>
		<key>backslash</key>
		<integer>-25</integer>
		<key>j</key>
		<real>-37.07550048828125</real>
		<key>period</key>
		<integer>-20</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>v</key>
		<real>-12.150899887084961</real>
		<key>w</key>
		<real>-13.58489990234375</real>
		<key>x</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>T</key>
		<integer>-45</integer>
		<key>j</key>
		<integer>5</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-23</integer>
		<key>o</key>
		<integer>-20</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>J</key>
		<integer>-70</integer>
		<key>j</key>
		<integer>-35</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>Y</key>
		<real>-10.377400398254395</real>
		<key>Z</key>
		<real>-12.452799797058105</real>
		<key>a</key>
		<real>-21.660400390625</real>
		<key>backslash</key>
		<integer>-15</integer>
		<key>c</key>
		<real>-23.811300277709961</real>
		<key>d</key>
		<real>-25.8302001953125</real>
		<key>g</key>
		<real>-19.150899887084961</real>
		<key>hyphen</key>
		<integer>-25</integer>
		<key>j</key>
		<real>-33.24530029296875</real>
		<key>o</key>
		<real>-26.24530029296875</real>
		<key>period</key>
		<integer>-40</integer>
		<key>slash</key>
		<integer>-25</integer>
		<key>v</key>
		<real>-2.075469970703125</real>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-12</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>comma</key>
		<integer>-60</integer>
		<key>four</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-60</integer>
		<key>six</key>
		<integer>-25</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>one</key>
		<integer>-18</integer>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-32</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-90</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>T</key>
		<integer>-25</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>y</key>
		<real>-18.339599609375</real>
	</dict>
	<key>two</key>
	<dict>
		<key>four</key>
		<integer>-20</integer>
		<key>six</key>
		<integer>-15</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-26</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-30</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>AE</key>
		<integer>-30</integer>
		<key>J</key>
		<real>-40.396198272705078</real>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<real>-14.528300285339355</real>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<real>-22.07550048828125</real>
		<key>a</key>
		<real>-16.24530029296875</real>
		<key>backslash</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-40</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>g</key>
		<real>-20.8302001953125</real>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>o</key>
		<real>-14.679200172424316</real>
		<key>period</key>
		<integer>-25</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-25</integer>
		<key>z</key>
		<real>-14.8302001953125</real>
	</dict>
	<key>w</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>W</key>
		<real>-12.452799797058105</real>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<real>-17.07550048828125</real>
		<key>a</key>
		<real>-12.490599632263184</real>
		<key>c</key>
		<real>-19.660400390625</real>
		<key>d</key>
		<real>-11.660400390625</real>
		<key>g</key>
		<real>-9.9622602462768555</real>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-12</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>z</key>
		<real>-10.8302001953125</real>
	</dict>
	<key>x</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<real>-4.15093994140625</real>
		<key>Y</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-12</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<real>-14.150899887084961</real>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<real>-22.07550048828125</real>
		<key>Z</key>
		<real>-10.377400398254395</real>
		<key>a</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>c</key>
		<real>-30.8302001953125</real>
		<key>d</key>
		<real>-28.8302001953125</real>
		<key>g</key>
		<integer>-35</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>o</key>
		<real>-26.24530029296875</real>
		<key>period</key>
		<integer>-30</integer>
		<key>s</key>
		<real>-17.90570068359375</real>
		<key>slash</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-5</integer>
		<key>z</key>
		<real>-20.8302001953125</real>
	</dict>
	<key>z</key>
	<dict>
		<key>T</key>
		<integer>-40</integer>
		<key>W</key>
		<real>-12.075499534606934</real>
		<key>Y</key>
		<real>-22.07550048828125</real>
		<key>c</key>
		<real>-11.660400390625</real>
		<key>j</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>v</key>
		<real>-14.8302001953125</real>
		<key>w</key>
		<real>-10.8302001953125</real>
	</dict>
	<key>zero</key>
	<dict>
		<key>three</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
