<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-20</integer>
		<key>@MMK_R_G</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-70</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-70</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-15</integer>
		<key>@MMK_R_G</key>
		<integer>-15</integer>
		<key>V</key>
		<real>-52.1697998046875</real>
		<key>W</key>
		<real>-37.150901794433594</real>
		<key>Y</key>
		<real>-61.452800750732422</real>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_W</key>
		<integer>-15</integer>
		<key>@MMK_R_Y</key>
		<integer>-25</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_G</key>
		<integer>-40</integer>
		<key>@MMK_R_O</key>
		<integer>-40</integer>
		<key>Q</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>comma</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_O</key>
		<integer>-25</integer>
		<key>Q</key>
		<integer>-40</integer>
		<key>comma</key>
		<integer>-70</integer>
		<key>period</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>comma</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>comma</key>
		<integer>-60</integer>
	</dict>
	<key>@MMK_L_y</key>
	<dict>
		<key>comma</key>
		<integer>-60</integer>
		<key>period</key>
		<integer>-30</integer>
	</dict>
	<key>AE</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-30</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>j</key>
		<real>-23.58489990234375</real>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>hyphen</key>
		<integer>-35</integer>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>J</key>
		<real>-41.433998107910156</real>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<integer>-5</integer>
		<key>X</key>
		<real>-15.735799789428711</real>
		<key>Y</key>
		<real>-16.41510009765625</real>
		<key>backslash</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-15</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-10</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>j</key>
		<real>-23.58489990234375</real>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-60</integer>
		<key>AE</key>
		<integer>-45</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>J</key>
		<real>-75.75469970703125</real>
		<key>O</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-25</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>a</key>
		<real>-38.566001892089844</real>
		<key>c</key>
		<real>-36.5093994140625</real>
		<key>d</key>
		<real>-36.5093994140625</real>
		<key>g</key>
		<real>-25.75469970703125</real>
		<key>j</key>
		<real>-32.1697998046875</real>
		<key>o</key>
		<real>-30.113199234008789</real>
		<key>period</key>
		<integer>-60</integer>
		<key>slash</key>
		<integer>-40</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>G</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>j</key>
		<real>-23.58489990234375</real>
	</dict>
	<key>I</key>
	<dict>
		<key>j</key>
		<integer>-36</integer>
	</dict>
	<key>J</key>
	<dict>
		<key>j</key>
		<integer>-20</integer>
		<key>period</key>
		<integer>-20</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>@MMK_R_O</key>
		<real>-30.75469970703125</real>
		<key>C</key>
		<real>-31.471700668334961</real>
		<key>T</key>
		<real>-18.58489990234375</real>
		<key>V</key>
		<integer>-28</integer>
		<key>Y</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-18</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>t</key>
		<integer>-15</integer>
		<key>v</key>
		<real>-38.641498565673828</real>
		<key>w</key>
		<real>-24.339599609375</real>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>O</key>
		<real>-20.018899917602539</real>
		<key>T</key>
		<real>-74.339599609375</real>
		<key>backslash</key>
		<integer>-45</integer>
		<key>hyphen</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-20</integer>
		<key>quotedbl</key>
		<integer>-50</integer>
		<key>quotedblright</key>
		<integer>-45</integer>
		<key>v</key>
		<real>-47.92449951171875</real>
		<key>w</key>
		<real>-35.75469970703125</real>
	</dict>
	<key>M</key>
	<dict>
		<key>g</key>
		<real>-18.603799819946289</real>
		<key>j</key>
		<real>-31.434000015258789</real>
	</dict>
	<key>N</key>
	<dict>
		<key>Y</key>
		<integer>-10</integer>
		<key>j</key>
		<real>-26.434000015258789</real>
	</dict>
	<key>O</key>
	<dict>
		<key>AE</key>
		<integer>-20</integer>
		<key>J</key>
		<real>-21.434000015258789</real>
		<key>V</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-15</integer>
		<key>backslash</key>
		<integer>-15</integer>
		<key>j</key>
		<real>-27.150899887084961</real>
		<key>period</key>
		<integer>-15</integer>
		<key>quotedbl</key>
		<integer>-5</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-20</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>AE</key>
		<integer>-50</integer>
		<key>J</key>
		<real>-73.433998107910156</real>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-16</integer>
		<key>g</key>
		<real>-20.75469970703125</real>
		<key>j</key>
		<real>-33.018901824951172</real>
		<key>period</key>
		<integer>-40</integer>
		<key>slash</key>
		<integer>-35</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_T</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-40</integer>
	</dict>
	<key>R</key>
	<dict>
		<key>C</key>
		<real>-22.735799789428711</real>
		<key>O</key>
		<real>-18.603799819946289</real>
		<key>T</key>
		<real>-40.75469970703125</real>
		<key>V</key>
		<integer>-35</integer>
		<key>W</key>
		<integer>-22</integer>
		<key>Y</key>
		<integer>-36</integer>
		<key>backslash</key>
		<integer>-25</integer>
		<key>c</key>
		<real>-22.188699722290039</real>
		<key>d</key>
		<real>-21.452800750732422</real>
		<key>j</key>
		<real>-31.452800750732422</real>
		<key>o</key>
		<integer>-20</integer>
		<key>quotedbl</key>
		<integer>-40</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>v</key>
		<real>-25.75469970703125</real>
		<key>w</key>
		<real>-17.1697998046875</real>
	</dict>
	<key>S</key>
	<dict>
		<key>V</key>
		<real>-11.41510009765625</real>
		<key>Y</key>
		<integer>-13</integer>
		<key>j</key>
		<integer>-25</integer>
		<key>period</key>
		<integer>-10</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>AE</key>
		<integer>-40</integer>
		<key>C</key>
		<real>-37.75469970703125</real>
		<key>J</key>
		<integer>-70</integer>
		<key>S</key>
		<real>-25.735799789428711</real>
		<key>a</key>
		<real>-73.58489990234375</real>
		<key>c</key>
		<real>-72.1697998046875</real>
		<key>d</key>
		<real>-67.1697998046875</real>
		<key>g</key>
		<real>-73.58489990234375</real>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<real>-47.1697998046875</real>
		<key>m</key>
		<real>-52.1697998046875</real>
		<key>n</key>
		<real>-52.1697998046875</real>
		<key>o</key>
		<real>-78.58489990234375</real>
		<key>p</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>r</key>
		<real>-75.09429931640625</real>
		<key>s</key>
		<real>-54.339599609375</real>
		<key>slash</key>
		<integer>-30</integer>
		<key>t</key>
		<real>-35.75469970703125</real>
		<key>u</key>
		<real>-77.92449951171875</real>
		<key>v</key>
		<real>-57.1697998046875</real>
		<key>w</key>
		<real>-53.58489990234375</real>
		<key>x</key>
		<real>-53.58489990234375</real>
		<key>y</key>
		<real>-47.92449951171875</real>
		<key>z</key>
		<integer>-30</integer>
	</dict>
	<key>U</key>
	<dict>
		<key>j</key>
		<real>-27.1697998046875</real>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_O</key>
		<integer>-15</integer>
		<key>AE</key>
		<integer>-50</integer>
		<key>C</key>
		<integer>-25</integer>
		<key>J</key>
		<real>-52.867900848388672</real>
		<key>S</key>
		<integer>-15</integer>
		<key>a</key>
		<real>-48.58489990234375</real>
		<key>c</key>
		<integer>-45</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-30</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-45</integer>
		<key>o</key>
		<integer>-45</integer>
		<key>period</key>
		<integer>-40</integer>
		<key>r</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-45</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-15</integer>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>C</key>
		<real>-17.150899887084961</real>
		<key>J</key>
		<real>-44.150901794433594</real>
		<key>a</key>
		<integer>-40</integer>
		<key>c</key>
		<real>-50.75469970703125</real>
		<key>d</key>
		<real>-45.75469970703125</real>
		<key>g</key>
		<real>-37.1697998046875</real>
		<key>hyphen</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-20</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-55</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>r</key>
		<integer>-10</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>u</key>
		<integer>-20</integer>
		<key>v</key>
		<real>-29.339599609375</real>
		<key>w</key>
		<real>-24.339599609375</real>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<real>-17.1697998046875</real>
		<key>z</key>
		<real>-13.58489990234375</real>
	</dict>
	<key>X</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>J</key>
		<real>-16.41510009765625</real>
		<key>O</key>
		<integer>-15</integer>
		<key>c</key>
		<real>-38.58489990234375</real>
		<key>d</key>
		<real>-34.339599609375</real>
		<key>g</key>
		<real>-32.1697998046875</real>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>j</key>
		<real>-48.58489990234375</real>
		<key>o</key>
		<integer>-40</integer>
		<key>s</key>
		<real>-27.1697998046875</real>
		<key>v</key>
		<integer>-30</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-20</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>AE</key>
		<integer>-60</integer>
		<key>C</key>
		<integer>-28</integer>
		<key>J</key>
		<integer>-82</integer>
		<key>N</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>a</key>
		<integer>-60</integer>
		<key>c</key>
		<real>-61.433998107910156</real>
		<key>d</key>
		<real>-53.58489990234375</real>
		<key>g</key>
		<integer>-52</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-28</integer>
		<key>n</key>
		<integer>-20</integer>
		<key>o</key>
		<integer>-60</integer>
		<key>p</key>
		<integer>-30</integer>
		<key>r</key>
		<real>-23.58489990234375</real>
		<key>s</key>
		<real>-43.58489990234375</real>
		<key>slash</key>
		<integer>-45</integer>
		<key>u</key>
		<integer>-30</integer>
		<key>v</key>
		<real>-23.58489990234375</real>
		<key>w</key>
		<real>-18.58489990234375</real>
		<key>x</key>
		<integer>-20</integer>
		<key>y</key>
		<real>-33.58489990234375</real>
		<key>z</key>
		<real>-23.58489990234375</real>
	</dict>
	<key>Z</key>
	<dict>
		<key>C</key>
		<real>-7.1698098182678223</real>
		<key>O</key>
		<real>-7.1698098182678223</real>
		<key>c</key>
		<real>-18.58489990234375</real>
		<key>d</key>
		<real>-18.58489990234375</real>
		<key>g</key>
		<real>-10.75469970703125</real>
		<key>j</key>
		<integer>-30</integer>
		<key>o</key>
		<real>-14.339599609375</real>
		<key>y</key>
		<real>-10.75469970703125</real>
	</dict>
	<key>a</key>
	<dict>
		<key>T</key>
		<integer>-60</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<real>-38.018901824951172</real>
		<key>backslash</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>quotedbl</key>
		<integer>-10</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
		<key>w</key>
		<real>-2.8301899433135986</real>
		<key>y</key>
		<real>-4.5282998085021973</real>
	</dict>
	<key>b</key>
	<dict>
		<key>AE</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-15</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>T</key>
		<real>-63.58489990234375</real>
		<key>V</key>
		<integer>-20</integer>
		<key>X</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-40</integer>
		<key>Z</key>
		<integer>-22</integer>
		<key>backslash</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>period</key>
		<integer>-25</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<real>-17.132099151611328</real>
	</dict>
	<key>backslash</key>
	<dict>
		<key>C</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-30</integer>
		<key>W</key>
		<integer>-25</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-90</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-15</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>T</key>
		<real>-40.75469970703125</real>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<real>-27.1697998046875</real>
		<key>backslash</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-25</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>j</key>
		<integer>-40</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>T</key>
		<real>-52.1697998046875</real>
		<key>V</key>
		<integer>-35</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-40</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>quotedbl</key>
		<integer>-15</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>v</key>
		<real>-8.5660400390625</real>
		<key>w</key>
		<integer>-10</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>AE</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-30</integer>
		<key>c</key>
		<integer>-48</integer>
		<key>d</key>
		<real>-38.867900848388672</real>
		<key>g</key>
		<integer>-34</integer>
		<key>hyphen</key>
		<integer>-30</integer>
		<key>j</key>
		<real>-43.58489990234375</real>
		<key>o</key>
		<real>-32.867900848388672</real>
		<key>p</key>
		<real>-11.434000015258789</real>
		<key>period</key>
		<integer>-40</integer>
		<key>s</key>
		<integer>-35</integer>
		<key>slash</key>
		<integer>-20</integer>
	</dict>
	<key>four</key>
	<dict>
		<key>one</key>
		<integer>-15</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>T</key>
		<real>-48.58489990234375</real>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-28</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>T</key>
		<real>-47.1697998046875</real>
		<key>V</key>
		<integer>-30</integer>
		<key>Y</key>
		<integer>-28</integer>
		<key>backslash</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>y</key>
		<real>-4.3018898963928223</real>
	</dict>
	<key>hyphen</key>
	<dict>
		<key>J</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>W</key>
		<integer>-15</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-10</integer>
		<key>x</key>
		<integer>-10</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>j</key>
		<real>-50.018901824951172</real>
	</dict>
	<key>k</key>
	<dict>
		<key>T</key>
		<real>-52.1697998046875</real>
		<key>Y</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>d</key>
		<real>-21.434000015258789</real>
		<key>g</key>
		<real>-18.565999984741211</real>
		<key>j</key>
		<integer>-35</integer>
		<key>o</key>
		<real>-17.849100112915039</real>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<real>-17.132099151611328</real>
	</dict>
	<key>l</key>
	<dict>
		<key>Y</key>
		<integer>-20</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>t</key>
		<integer>-10</integer>
		<key>v</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-20</integer>
		<key>y</key>
		<integer>-15</integer>
	</dict>
	<key>nine</key>
	<dict>
		<key>seven</key>
		<integer>-10</integer>
		<key>two</key>
		<integer>-10</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>J</key>
		<integer>-10</integer>
		<key>S</key>
		<integer>-15</integer>
		<key>T</key>
		<real>-78.58489990234375</real>
		<key>V</key>
		<integer>-45</integer>
		<key>W</key>
		<integer>-55</integer>
		<key>Y</key>
		<integer>-60</integer>
		<key>backslash</key>
		<integer>-30</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-15</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>slash</key>
		<integer>-25</integer>
		<key>v</key>
		<integer>-18</integer>
		<key>w</key>
		<integer>-16</integer>
		<key>x</key>
		<integer>-12</integer>
		<key>y</key>
		<real>-18.565999984741211</real>
		<key>z</key>
		<integer>-15</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>T</key>
		<real>-53.58489990234375</real>
		<key>V</key>
		<integer>-30</integer>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<real>-33.58489990234375</real>
		<key>backslash</key>
		<integer>-25</integer>
		<key>j</key>
		<real>-38.58489990234375</real>
		<key>period</key>
		<integer>-20</integer>
		<key>quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-25</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>v</key>
		<real>-15.1697998046875</real>
		<key>w</key>
		<real>-13.282999992370605</real>
		<key>x</key>
		<integer>-12</integer>
		<key>y</key>
		<integer>-10</integer>
	</dict>
	<key>period</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
		<key>C</key>
		<integer>-20</integer>
		<key>O</key>
		<integer>-15</integer>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-40</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-5</integer>
		<key>d</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>v</key>
		<integer>-25</integer>
		<key>w</key>
		<integer>-20</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>T</key>
		<integer>-45</integer>
		<key>j</key>
		<integer>5</integer>
	</dict>
	<key>quotedbl</key>
	<dict>
		<key>C</key>
		<integer>-10</integer>
		<key>J</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-5</integer>
		<key>c</key>
		<integer>-15</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-23</integer>
		<key>o</key>
		<integer>-20</integer>
	</dict>
	<key>quotedblright</key>
	<dict>
		<key>J</key>
		<integer>-70</integer>
		<key>j</key>
		<integer>-35</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>J</key>
		<real>-50.018901824951172</real>
		<key>T</key>
		<integer>-40</integer>
		<key>Y</key>
		<real>-17.92449951171875</real>
		<key>Z</key>
		<real>-21.5093994140625</real>
		<key>a</key>
		<real>-22.867900848388672</real>
		<key>backslash</key>
		<integer>-15</integer>
		<key>c</key>
		<real>-28.037700653076172</real>
		<key>d</key>
		<real>-26.434000015258789</real>
		<key>g</key>
		<real>-22.1697998046875</real>
		<key>hyphen</key>
		<integer>-25</integer>
		<key>j</key>
		<real>-34.150901794433594</real>
		<key>o</key>
		<real>-27.150899887084961</real>
		<key>period</key>
		<integer>-40</integer>
		<key>slash</key>
		<integer>-25</integer>
		<key>v</key>
		<real>-3.5849099159240723</real>
		<key>w</key>
		<integer>-5</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>T</key>
		<integer>-30</integer>
		<key>V</key>
		<integer>-20</integer>
		<key>Y</key>
		<integer>-30</integer>
		<key>backslash</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>v</key>
		<integer>-10</integer>
		<key>w</key>
		<integer>-12</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>comma</key>
		<integer>-70</integer>
		<key>four</key>
		<integer>-35</integer>
		<key>period</key>
		<integer>-70</integer>
		<key>six</key>
		<integer>-25</integer>
	</dict>
	<key>six</key>
	<dict>
		<key>one</key>
		<integer>-18</integer>
		<key>seven</key>
		<integer>-10</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>C</key>
		<integer>-20</integer>
		<key>J</key>
		<integer>-30</integer>
		<key>O</key>
		<integer>-20</integer>
		<key>S</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-32</integer>
		<key>d</key>
		<integer>-30</integer>
		<key>g</key>
		<integer>-25</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-35</integer>
		<key>s</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-90</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>T</key>
		<integer>-25</integer>
		<key>hyphen</key>
		<integer>-20</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>y</key>
		<real>-17.132099151611328</real>
	</dict>
	<key>two</key>
	<dict>
		<key>four</key>
		<integer>-20</integer>
		<key>six</key>
		<integer>-15</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-26</integer>
		<key>W</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-15</integer>
		<key>j</key>
		<integer>-30</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>J</key>
		<real>-44.32080078125</real>
		<key>T</key>
		<integer>-40</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<real>-25.09429931640625</real>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<real>-23.58489990234375</real>
		<key>a</key>
		<real>-17.150899887084961</real>
		<key>backslash</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-20</integer>
		<key>comma</key>
		<integer>-60</integer>
		<key>d</key>
		<integer>-20</integer>
		<key>g</key>
		<real>-21.434000015258789</real>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>o</key>
		<real>-12.264200210571289</real>
		<key>period</key>
		<integer>-25</integer>
		<key>s</key>
		<integer>-10</integer>
		<key>slash</key>
		<integer>-25</integer>
		<key>z</key>
		<real>-15.434000015258789</real>
	</dict>
	<key>w</key>
	<dict>
		<key>AE</key>
		<integer>-30</integer>
		<key>J</key>
		<real>-34.339599609375</real>
		<key>T</key>
		<integer>-50</integer>
		<key>W</key>
		<real>-21.5093994140625</real>
		<key>X</key>
		<integer>-20</integer>
		<key>Y</key>
		<real>-18.58489990234375</real>
		<key>a</key>
		<real>-14.301899909973145</real>
		<key>c</key>
		<real>-20.867900848388672</real>
		<key>d</key>
		<real>-12.867899894714355</real>
		<key>g</key>
		<real>-17.207500457763672</real>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-40</integer>
		<key>o</key>
		<integer>-16</integer>
		<key>period</key>
		<integer>-20</integer>
		<key>s</key>
		<integer>-12</integer>
		<key>slash</key>
		<integer>-20</integer>
		<key>z</key>
		<real>-11.434000015258789</real>
	</dict>
	<key>x</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<real>-7.1698098182678223</real>
		<key>Y</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>c</key>
		<integer>-10</integer>
		<key>d</key>
		<integer>-15</integer>
		<key>g</key>
		<integer>-15</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-12</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>J</key>
		<real>-31.434000015258789</real>
		<key>T</key>
		<integer>-20</integer>
		<key>V</key>
		<integer>-10</integer>
		<key>W</key>
		<real>-17.1697998046875</real>
		<key>X</key>
		<integer>-30</integer>
		<key>Y</key>
		<real>-23.58489990234375</real>
		<key>Z</key>
		<real>-17.92449951171875</real>
		<key>a</key>
		<integer>-20</integer>
		<key>backslash</key>
		<integer>-20</integer>
		<key>c</key>
		<real>-31.434000015258789</real>
		<key>d</key>
		<real>-29.434000015258789</real>
		<key>g</key>
		<integer>-35</integer>
		<key>hyphen</key>
		<integer>-10</integer>
		<key>j</key>
		<integer>-35</integer>
		<key>o</key>
		<real>-27.150899887084961</real>
		<key>s</key>
		<real>-20.018899917602539</real>
		<key>slash</key>
		<integer>-20</integer>
		<key>w</key>
		<integer>-5</integer>
		<key>z</key>
		<real>-21.434000015258789</real>
	</dict>
	<key>z</key>
	<dict>
		<key>T</key>
		<integer>-40</integer>
		<key>W</key>
		<real>-13.58489990234375</real>
		<key>Y</key>
		<real>-23.58489990234375</real>
		<key>c</key>
		<real>-12.867899894714355</real>
		<key>j</key>
		<integer>-30</integer>
		<key>o</key>
		<integer>-15</integer>
		<key>v</key>
		<real>-15.434000015258789</real>
		<key>w</key>
		<real>-11.434000015258789</real>
	</dict>
	<key>zero</key>
	<dict>
		<key>three</key>
		<integer>-10</integer>
	</dict>
</dict>
</plist>
